<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/styles.css">
    <title>GreenSock Site Test | {%block pageTitle%} {%endblock%}</title>
</head>

<body>
    
    {%block content %}{%endblock%}
</body>

<script data-main="js/config.js" src="js/vendor/require.js"></script>

<script>
    requirejs(['app'], function(app){
        app.playAnimation();
    }); 
</script>
</html>